{{ $ := .root }} {{ $page := .page }}

<div class="row featurette">
  {{ with $page.Title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}
    <p>{{ $page.Params.subtitle | markdownify | emojify }}</p>
    {{ end }}
  </div>
  {{ end }} {{ with $page.Content }}
  <div class="col-md-12">{{ . }}</div>
  {{ end }} {{ range $page.Params.feature }} {{ $pack := or .icon_pack "fas" }}
  {{ $pack_prefix := $pack }} {{ if in (slice "fab" "fas" "far" "fal") $pack }}
  {{ $pack_prefix = "fa" }} {{ end }}
  <div class="col-12 col-sm-4" style="margin-top: 16px">
    {{ with .icon }}
    <div class="featurette-icon">
      {{- if eq $pack "emoji" -}} {{- . | emojify -}} {{- else if eq $pack
      "custom" -}} {{- $svg_icon := resources.Get (printf "media/icons/%s.svg"
      .) -}} {{- if $svg_icon -}}<img
        src="{{ $svg_icon.RelPermalink }}"
        alt="{{.}}"
        class="svg-icon svg-baseline"
        loading="lazy"
      />{{- end -}} {{- else -}}
      <i class="{{ $pack }} {{ $pack_prefix }}-{{ . }}"></i>
      {{- end -}}
    </div>
    {{ end }}
    <div class="section-subheading">{{ .name | markdownify | emojify }}</div>
    {{ with .description }}
    <p>{{ . | markdownify | emojify }}</p>
    {{ end }}
  </div>
  {{ end }}

  <div dir="auto" style="
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: 10vw;
    align-items: flex-start;
">
    <p dir="auto">
      知识体系：<a href="https://ng-tech.icu/books/Awesome-Lists" rel="nofollow"
        >《Awesome Lists | CS 资料集锦》</a
      >、<a href="https://ng-tech.icu/books/Awesome-CheatSheets" rel="nofollow"
        >《Awesome CheatSheets | 速学速查手册》</a
      >、<a href="https://ng-tech.icu/books/Awesome-Interviews" rel="nofollow"
        >《Awesome Interviews | 求职面试必备》</a
      >、<a href="https://github.com/wx-chevalier/Awesome-CS-Books"
        >《Awesome-CS-Books | 开源书籍（.pdf）汇总》</a
      >
    </p>

    <p dir="auto">
      编程语言：<a
        href="https://ng-tech.icu/books/ProgrammingLanguage-Notes/#/"
        rel="nofollow"
        >《编程语言理论》</a
      >、<a href="https://ng-tech.icu/books/Java-Notes" rel="nofollow"
        >《Java 实战</a
      >、<a href="https://ng-tech.icu/books/JavaScript-Notes" rel="nofollow"
        >《JavaScript 实战》</a
      >、<a href="https://ng-tech.icu/books/Go-Notes" rel="nofollow"
        >《Go 实战》</a
      >、<a
        href="https://ng-tech.icu/books/ProgrammingLanguage-Notes/#/"
        rel="nofollow"
        >《Python 实战》</a
      >、<a
        href="https://ng-tech.icu/books/ProgrammingLanguage-Notes/#/"
        rel="nofollow"
        >《Rust 实战》</a
      >
    </p>

    <p dir="auto">
      软件工程、模式与架构：<a
        href="https://ng-tech.icu/books/DesignPattern-Notes/"
        rel="nofollow"
        >《编程范式与设计模式》</a
      >、<a href="https://ng-tech.icu/books/AlgoDS-Notes/" rel="nofollow"
        >《数据结构与算法》</a
      >、<a
        href="https://ng-tech.icu/books/SoftwareArchitecture-Notes/"
        rel="nofollow"
        >《软件架构设计》</a
      >、<a
        href="https://ng-tech.icu/books/SoftwareEngineering-Notes/"
        rel="nofollow"
        >《整洁与重构》</a
      >、<a
        href="https://ng-tech.icu/books/SoftwareEngineering-Notes/"
        rel="nofollow"
        >《协作与项目管理》</a
      >》
    </p>

    <p dir="auto">
      Web 与大前端：<a
        href="https://ng-tech.icu/books/Web-Notes/"
        rel="nofollow"
        >《现代 Web 全栈开发与工程架构》</a
      >、<a href="https://ng-tech.icu/books/Frontend-Notes/" rel="nofollow"
        >《数据可视化</a
      >、<a href="https://ng-tech.icu/books/Frontend-Notes/" rel="nofollow"
        >《iOS》</a
      >、<a href="https://ng-tech.icu/books/Frontend-Notes/" rel="nofollow"
        >《Android》</a
      >、<a href="https://ng-tech.icu/books/Web-Notes/" rel="nofollow"
        >《混合开发与跨端应用》</a
      >、<a href="https://ng-tech.icu/books/Node-Notes/" rel="nofollow"
        >《Node.js 全栈开发》</a
      >
    </p>

    <p dir="auto">
      服务端开发实践与工程架构：<a
        href="https://ng-tech.icu/books/Backend-Notes/#/"
        rel="nofollow"
        >《服务端功能域》</a
      >、<a
        href="https://ng-tech.icu/books/MicroService-Notes/#/"
        rel="nofollow"
        >《微服务与云原生</a
      >、<a href="https://ng-tech.icu/books/Backend-Notes/#/" rel="nofollow"
        >《测试与高可用保障》</a
      >、<a href="https://ng-tech.icu/books/Backend-Notes/#/" rel="nofollow"
        >《DevOps》</a
      >、<a href="https://ng-tech.icu/books/Spring-Notes/#/" rel="nofollow"
        >《Spring》</a
      >、<a href="https://ng-tech.icu/books/Backend-Notes/#/" rel="nofollow"
        >《信息安全与渗透测试》</a
      >
    </p>

    <p dir="auto">
      分布式基础架构：<a
        href="https://ng-tech.icu/books/DistributedSystem-Notes/#/"
        rel="nofollow"
        >《分布式系统》</a
      >、<a
        href="https://ng-tech.icu/books/DistributedSystem-Notes/#/"
        rel="nofollow"
        >《分布式计算》</a
      >、<a href="https://github.com/wx-chevalier/Database-Notes">《数据库》</a
      >、<a
        href="https://ng-tech.icu/books/DistributedSystem-Notes/#/"
        rel="nofollow"
        >《网络》</a
      >、<a href="https://github.com/wx-chevalier/Cloud-Notes"
        >《虚拟化与云计算》</a
      >、<a href="https://github.com/wx-chevalier/Linux-Notes"
        >《Linux 与操作系统》</a
      >
    </p>

    <p dir="auto">
      数据科学，人工智能与深度学习：<a
        href="https://ng-tech.icu/books/Mathematics-Notes/#/"
        rel="nofollow"
        >《数理统计》</a
      >、<a href="https://ng-tech.icu/books/AI-Notes/#/" rel="nofollow"
        >《数据分析</a
      >、<a href="https://ng-tech.icu/books/AI-Notes/#/" rel="nofollow"
        >《机器学习》</a
      >、<a href="https://ng-tech.icu/books/AI-Notes/#/" rel="nofollow"
        >《深度学习</a
      >、<a href="https://ng-tech.icu/books/AI-Notes/#/" rel="nofollow"
        >《自然语言处理》</a
      >、<a href="https://ng-tech.icu/books/AI-Notes/#/" rel="nofollow"
        >《工具与工程化》</a
      >、<a href="https://ng-tech.icu/books/AI-Notes/#/" rel="nofollow"
        >《行业应用》</a
      >
    </p>

    <p dir="auto">
      产品设计与用户体验：<a
        href="https://ng-tech.icu/books/Product-Notes/#/"
        rel="nofollow"
        >《产品设计》</a
      >、<a href="https://ng-tech.icu/books/Product-Notes/#/" rel="nofollow"
        >《交互体验</a
      >、<a href="https://ng-tech.icu/books/Product-Notes/#/" rel="nofollow"
        >《项目管理》</a
      >
    </p>

    <p dir="auto">
      行业应用：<a href="https://github.com/wx-chevalier/Business-Notes"
        >《行业迷思》</a
      >、<a href="https://github.com/wx-chevalier/Business-Notes">《功能域》</a
      >、<a href="https://github.com/wx-chevalier/Business-Notes">《电子商务</a
      >、<a href="https://github.com/wx-chevalier/Business-Notes"
        >《智能制造》</a
      >
    </p>
  </div>
</div>
