{{- define "main" -}}
<aside style="margin-top: 48px">
  <nav>
    <ul>
      <li
        class="subhead"
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        "
      >
        分类
        <footer
          id="footer"
          class="footer"
          style="
            display: flex;
            justify-content: space-between;
            width: auto;
            height: 20px; ;
          "
        >
          <label
            class="theme-switch"
            for="checkbox"
            title="Night mode"
            style="margin: 0px"
          >
            <div class="slider round"></div>
            <input type="checkbox" id="checkbox" aria-label="Night mode" />
          </label>
        </footer>
      </li>
      <li>
        <a class="nav scrolltoview" href="#resource"
          ><span class="icon">⛳</span>参考资料、书籍、视频、开源项目</a
        >
      </li>
      <li>
        <a class="nav scrolltoview" href="#language"
          ><span class="icon">📟</span
          >编程语言（JavaScript、Java、Go、Python、Rust）、数据结构与算法、设计模式、并发编程</a
        >
      </li>
      <li>
        <a class="nav scrolltoview" href="#system"
          ><span class="icon">🐂</span>服务端、微服务、数据库、高可用、Spring</a
        >
      </li>
      <li>
        <a class="nav scrolltoview" href="#infra"
          ><span class="icon">🐂</span
          >分布式系统、分布式计算、分布式存储、分布式事务与一致性、操作系统、Linux、数据库、云与虚拟化</a
        >
      </li>
      <li>
        <a class="nav scrolltoview" href="#fe"
          ><span class="icon">🌺</span>大前端、Web、计算机视觉与可视化</a
        >
      </li>
      <li>
        <a class="nav scrolltoview" href="#ai"
          ><span class="icon">🦒</span>人工智能、机器学习、深度学习</a
        >
      </li>
      <li>
        <a class="nav scrolltoview" href="#product"
          ><span class="icon">🐹</span>产品、运营、创业</a
        >
      </li>
    </ul>
  </nav>
  <div class="spacer"></div>
</aside>
<main id="main" class="main" style="margin-top: 100px">
  <article>
    <div id="foryou">
      <h1
        class="books-gallery-section-title"
        style="margin-left: 32px; color: black"
      >
        知识体系
      </h1>
      <section class="results">
        <div class="list-book foryou">
          <a class="category" href="/books/awesome-lists/#/">
            <div class="book">
              <div class="books-gallery-book-info">
                <h1 class="books-gallery-section-title">
                  Awesome Lists<br />资料大全
                </h1>
              </div>
            </div>
          </a>
          <a class="category" href="/books/awesome-mindmaps/#/">
            <div class="book">
              <div class="books-gallery-book-info">
                <h1 class="books-gallery-section-title">
                  Awesome MindMaps<br />思维脑图
                </h1>
              </div>
            </div>
          </a>
          <a class="category" href="/books/awesome-roadmaps/#/">
            <div class="book">
              <div class="books-gallery-book-info">
                <h1 class="books-gallery-section-title">
                  Awesome RoadMaps<br />进阶指南
                </h1>
              </div>
            </div>
          </a>
          <a class="category" href="/books/awesome-cheatsheets/#/">
            <div class="book">
              <div class="books-gallery-book-info">
                <h1 class="books-gallery-section-title">
                  Awesome CheatSheets<br />速查手册
                </h1>
              </div>
            </div>
          </a>
          <a class="category" href="/books/awesome-interviews/#/">
            <div class="book">
              <div class="books-gallery-book-info">
                <h1 class="books-gallery-section-title">
                  Awesome Interviews<br />面试必备
                </h1>
              </div>
            </div> </a
          ><a class="category" href="/books/awesome-cs-books/#/">
            <div class="book">
              <div class="books-gallery-book-info">
                <h1 class="books-gallery-section-title">
                  Awesome Books<br />推荐书籍
                </h1>
              </div>
            </div>
          </a>
        </div>
      </section>
    </div>
    <footer id="footer" class="footer" style="margin-top: 24px"></footer>
  </article>
</main>

<link rel="stylesheet" href="/gallery-assets/index.css" />
<script src="/gallery-assets/index.js"></script>
<script>
  (function (h, o, t, j, a, r) {
    h.hj =
      h.hj ||
      function () {
        (h.hj.q = h.hj.q || []).push(arguments);
      };
    h._hjSettings = {
      hjid: 1026253,
      hjsv: 6,
    };
    a = o.getElementsByTagName("head")[0];
    r = o.createElement("script");
    r.async = 1;
    r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
    a.appendChild(r);
  })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
</script>

<script type="text/javascript">
  window.$crisp = [];
  window.CRISP_WEBSITE_ID = "12adcc35-9621-4313-8262-62dc654b29d8";
  (function () {
    setTimeout(function() {
      d = document;
      s = d.createElement("script");
      s.src = "https://client.crisp.chat/l.js";
      s.async = 1;
      d.getElementsByTagName("head")[0].appendChild(s);
    }, 2500);
  })();
</script>
{{- end -}}
