@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,400);
/* Variables
****************************************************/

/* Base
****************************************************/

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: #fff;
}

@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

.CV-u-nowrap {
  white-space: nowrap;
}

.CV-page {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2em;
  color: #222;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

@media all and (max-width: 500px) {
  .CV-page {
    padding: 0 1em;
  }
}

.CV-page a {
  color: rgba(34, 34, 34, 0.75);
  text-decoration: underline;
}

.CV-page a span {
  color: rgba(14, 118, 158, 0.7);
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.CV-page a:hover span {
  color: #00aef0;
}

.CV-page a:active {
  display: inline-block;
  -webkit-transform: translate(0px, 1px);
  transform: translate(0px, 1px);
}

.CV-page abbr {
  border-color: rgba(34, 34, 34, 0.25);
}

.CV-page hr {
  width: 30%;
  height: 0;
  margin: 1em auto;
  border: none;
  border-top: solid 1px #00aef0;
}

/* if IE<=7 */

.CV-page\ {
  width: 1100px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/* Headings
****************************************************/

.CV-primaryHeading {
  /* text-transform: uppercase; */
  margin-bottom: 0.5em;
}

.CV-primaryHeading-name {
  display: inline-block;
  margin-bottom: 0.2em;
  font-size: 1.8em;
  line-height: 0.9;
}

.CV-primaryHeading-position {
  display: inline-block;
  font-size: 1em;
  line-height: 1;
  color: #00aef0;
  font-style: italic;
}

.CV-secondaryHeading {
  position: relative;
  margin: 0.5em 0 0;
  /* text-transform: uppercase; */
}

.CV-secondaryHeading:before {
  content: "";
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  margin: 0 0.5em 0 -0.2em;
  border: 2px solid #00aef0;
  border-left: none;
  border-bottom: none;
  -webkit-transform: scaleX(0.75) rotate(45deg);
  transform: scaleX(0.75) rotate(45deg);
}

.CV-tertiaryHeading {
  margin-top: 0;
  line-height: 1;
  color: #00aef0;
  font-style: italic;
  font-weight: normal;
  /* text-transform: uppercase; */
}

/* Details
****************************************************/
.CV-details {
  width: 21cm;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.CV-detail {
  position: relative;
  width: 100%;
  padding: 0.5em 1.5em;
  border-radius: 1em;
  line-height: 1.2;
  font-size: 0.9em;
  text-decoration: none;
}

/* SVG icons */

.CV-detail {
  padding-left: 56px;
}

.CV-detail:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 14px;
  width: 34px;
  height: 34px;
  margin-top: -14px;
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: 2px 2px;
  background-color: #fff;
  border-radius: 50%;
  border: solid 1px #222;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.CV-detail--address:before {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/CV_icons_address.svg");
}

.CV-detail--phone:before {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/CV_icons_phone.svg");
}

.CV-detail--email:before {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/CV_icons_email.svg");
}

.CV-detail--twitter:before {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/CV_icons_email.svg");
}

.CV-detail--segmentfault:before {
  background-image: url("https://static.segmentfault.com/v-5a61bad4/global/img/touch-icon.png");
}

.CV-detail--github:before {
  background-image: url("https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png");
}

.CV-detail--linkedin:before {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/CV_icons_linkedin.svg");
}

.CV-detail--website:before {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/CV_icons_web.svg");
}

.CV-detail--blog:before {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/CV_icons_tumblr.svg");
}

.CV-detail--experiments:before {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/CV_icons_codepen.svg");
}

/* end if SVG */

.CV-detail-key {
  display: inline-block;
  color: #222;
  /* text-transform: uppercase; */
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-font-smoothing: antialiased;
}

.CV-detail-val {
  display: inline-block;
  color: rgba(14, 118, 158, 0.7);
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-font-smoothing: antialiased;
}

@media all and (max-width: 500px) {
  .CV-detail-val {
    display: block;
    border-bottom: none;
  }
}

@media all and (min-width: 500px) {
  .CV-detail {
    width: 50%;
    vertical-align: middle;
  }
  .CV-detail-val {
    display: block;
  }
}

@media all and (min-width: 700px) {
  .CV-detail {
    width: 25%;
  }
}

.CV-detail:hover::before,
.CV-detail:focus::before {
  background-color: #bdedff;
}

.CV-detail:hover .CV-detail-key,
.CV-detail:focus .CV-detail-key,
.CV-detail:hover .CV-detail-val,
.CV-detail:focus .CV-detail-val {
  color: #00aef0;
  -webkit-transform: translateX(0.3em);
  transform: translateX(0.3em);
}

/* Blurb
****************************************************/

.CV-introBlurb {
  /*TEMP display:none; */
  width: 80%;
  margin: 3em auto 1em auto;
  text-align: center;
  font-size: 1.1em;
}

@media screen and (max-width: 500px) {
  .CV-introBlurb {
    width: 100%;
  }
}

/* Grid
****************************************************/

.CV-grid {
  display: table;
}

.CV-grid-column {
  display: table-cell;
}

.CV-grid-column--left {
  width: 65%;
  padding-right: 2em;
}

.CV-grid-column--right {
  width: 35%;
}

@media screen and (max-width: 850px) {
  .CV-grid {
    display: block;
  }
  .CV-grid-column {
    display: block;
  }
  .CV-grid-column--left {
    width: 100%;
    padding-right: 0;
  }
  .CV-grid-column--right {
    width: 100%;
  }
}

/* Timeline
****************************************************/

.CV-timeline {
  position: relative;
  margin: 0 0 0 0.5em;
  padding-left: 1.5em;
  border-left: solid 1px #222;
}

.CV-timeline:first-of-type {
  margin-top: 1em;
}

.CV-timeline:last-of-type {
  border-left-color: transparent;
}

.CV-timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.5em;
  display: block;
  width: 1em;
  height: 1em;
  border: solid 1px #222;
  background-color: #fff;
  border-radius: 50%;
}

.CV-timeline-heading {
  margin: 0;
  padding-bottom: 0.5em;
  line-height: 1em;
  font-weight: normal;
  -webkit-transform: translateY(-0.1em);
  transform: translateY(-0.1em);
}

.CV-timeline-heading-title {
  line-height: 1;
  color: #00aef0;
  font-style: italic;
  text-transform: uppercase;
}

.CV-timeline-heading-location {
  font-size: 0.9em;
}

.CV-timeline-heading-duration {
  display: block;
  font-size: 0.8em;
  color: #6f6f6f;
  margin-top: 5px;
}

.CV-timeline-details {
  display: block;
  margin: 0;
  padding-bottom: 2em;
  padding: 0 0 1em 1em;
  list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGElEQVQIW2NkYGD4D8TIgJERTQDMpVAQAGaUAQbko3DsAAAAAElFTkSuQmCC");
}

.CV-timeline-details-item {
  margin-bottom: 0.5em;
}

/* Skills
****************************************************/

/* END 
****************************************************/

.CV-referees {
  margin-bottom: 4em;
}

.CV-disclaimer {
  margin-top: 4em;
  font-size: 0.8em;
  text-align: right;
  font-variant: small-caps;
  color: #a2a2a2;
}

.CV-timeline-details-item {
  font-size: 14px;
}

/* PRINT STYLES
****************************************************/

@media print {
  .CV-page {
    font-size: 0.7em;
  }
  .CV-pageBreakBefore {
    page-break-before: always;
  }
  .svg .CV-detail {
    padding-left: 44px;
  }
  .svg .CV-detail:before {
    left: 11px;
    width: 28px;
    height: 28px;
    margin-top: -11px;
    background-size: 22px;
  }
}
